doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')
            script(src='https://unpkg.com/axios/dist/axios.min.js')
            script.
                const hideAlert = () => {
                    const el = document.querySelector('.alert');
                    if (el) el.parentElement.removeChild(el);
                };
                //type is success or error
                const showAlert = (type, msg, time=7) => {
                    hideAlert();
                    const markup = `<div class="alert alert--${type}">${msg}</div>`;
                    document.querySelector('body').insertAdjacentHTML('afterbegin', markup);
                    window.setTimeout(hideAlert, time*1000);
                };

                const deleteReview = async (reviewId) => {
                    try {
                        const url = '/api/v1/reviews/' + reviewId;

                        const res = await axios({
                            method: 'DELETE',
                            url,
                        });
                        if (res.status === 204) {
                            showAlert('success', `Comment deleted Successfully!`);

                            window.setTimeout(() => {
                                location.reload();
                            }, 1000);
                        }
                    } catch (err) {
                        showAlert('error', `Something went wrong!`);
                    }
                };
                const deleteTour = async (tourId) => {
                    try {
                        const url = '/api/v1/tours/' + tourId;
                        const res = await axios({
                        method: 'DELETE',
                        url,
                        });

                        if (res.status == 204) {
                            showAlert('success', `Tour deleted successfully!`);

                            window.setTimeout(() => {
                                location.reload();
                            }, 1000);
                        }
                    } catch (err) {
                        showAlert('error', `Something went wrong!`);
                    }
                };
            title Natours | #{title}
    body(data-alert=`${alert ? alert : ''}`, data-token=`${token ? token : ''}`)
        // HEADER
        include _header
        //- Note that we put an underscore before the file name of all those pug files that are meant to be included in other files

        //CONTENT
        block content
            h1 This is the placeholder heading
        //- Note that block is just the reverse of include in pug. We use block so that some other pug file extends the base file and overwrite the content block.

        //FOOTER
        include _footer

        script(src='https://js.stripe.com/v3/')
        script(src='/js/bundle.js')
//-        script(src='/js/mapbox.js')
//-        script(src='/js/login.js')
//-        script(src='https://unpkg.com/axios/dist/axios.min.js')